<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Choicen</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="question-list">
      <h1>質問一覧</h1>
      <% for (var elm of ret){ %>
        <h3><%= elm.question %></h3>
        <% for (var option of elm.options){ %>
          <% if (option.id == elm.voted_id) { %>
            <li><b><%= option.name %></b> (you voted)</li>
          <% } else { %>
            <li><%= option.name %></li>
          <% } %>
        <% } %>
      <% } %>
    </div>
    <hr>
    <div class="question-form">
      <form action="/questions/create" method="post">
        <label for="title">質問</label><br />
        <input type="text" name="title" value=""><br />
        <label for="options">選択肢</label><br />
        <input type="text" name="options" value=""><br />
        <input type="text" name="options" value=""><br />
        <input type="submit" value="submit">
      </form>
    </div>
  </body>
</html>
