<!DOCTYPE html>
<html>
  <head>
    <title>Create User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="user-form">
      <form action="/users/create" method="post">
        <label for="name">名前</label>
        <input type="text" name="name" value=""><br />
        <input type="submit" value="作成">
      </form>
    </div>
  </body>
</html>
